@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Custom background colors */
  --bg-1: #f3f0e8;
  --bg-2: #fefefe;
  --bg-3: #94b0b0;
  /* Custom text colors */
  --text-1: #7e7e68;
  --text-2: #41413f;
  --text-3: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom colors */
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}